%h1
  = t(:cat_dohods)
  = link_to new_cat_dohod_path, "data-ajax" => "false" do
    .ui-shadow.ui-btn.ui-corner-all.ui-btn-inline.ui-icon-plus.ui-btn-icon-notext.ui-btn-b{"data-theme" => "b", "data-ajax"=>"false", :style=>"float:right;"}
      = t(:new)

.docs-main
  %table#tabl_cat_dohod.tablesaw{"data-minimap" => "", "data-mode" => "swipe", "data-mode-switch" => "", "data-sortable" => "", "data-sortable-switch" => ""}
    %thead
      %tr


        %th{"data-priority" => "1", "data-sortable-col" => ""}= t(:name)
        %th{"data-priority" => "", "data-sortable-col" => ""}
    %tbody
      - @cat_dohods.each do |cat_dohod|
        %tr


          %td
            = link_to cat_dohod do
              = cat_dohod.name
          %td
            = link_to 'Изменить', edit_cat_dohod_path(cat_dohod), :class => "ui-btn ui-btn-icon-left ui-icon-edit", "data-ajax" => false
            = link_to 'Удалить', cat_dohod, :method => :delete, :data => { :confirm => 'Уверены?' }, :class => "ui-btn ui-btn-icon-left ui-icon-delete", "data-ajax" => false




