= form_for @perevod do |f|
  - if @perevod.errors.any?
    #error_explanation
      %h2= "#{pluralize(@perevod.errors.count, "error")} prohibited this perevod from being saved:"
      %ul
        - @perevod.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :schet_from
    = f.number_field :schet_from
  .field
    = f.label :schet_to
    = f.number_field :schet_to
  .field
    = f.label :rab
    = f.text_field :rab
  .field
    = f.label :todate
    = f.date_select :todate
  .field
    = f.label :cash
    = f.text_field :cash
  .field
    = f.label :comment
    = f.text_area :comment
  .actions
    = f.submit 'Save'
