= form_for @perevod, "data-ajax" => false do |f|
  - if @perevod.errors.any?
    #error_explanation
      %h2= "#{pluralize(@perevod.errors.count, "error")} prohibited this rab from being saved:"
      %ul
        - @perevod.errors.full_messages.each do |msg|
          %li= msg
  %div{ :class=>"schet_from"}
    .field
      = f.label t(:schet_from)
      = collection_select(:perevod, :schet_from, Schet.where(panel: true).all, :id, :name, prompt: true)

  %div{ :class=>"schet_to"}
    .field
      = f.label t(:schet_to)
      = collection_select(:perevod, :schet_to, Schet.where(panel: true).all, :id, :name, prompt: true)

  -#%div{ :class=>"rab"}
    -#.field
      -#= f.label t(:rab)
      -#= collection_select(:perevod, :rab_id, Rab.all, :id, :name, prompt: true)

  %div{ :class=>"todate"}
    .field
      = f.label t(:todate)
      = f.date_select :todate

  %div{ :class=>"cash"}
    .field
      = f.label t(:cash)
      = f.text_field :cash

  %div{ :class=>"comment"}
    .field
      = f.label t(:comment)
      = f.text_area :comment

      - 'TABB'
  %div
    .field
      = f.submit t('.save', :default => t("helpers.links.save")), :class => "btn btn-primary", "data-ajax" => false

