%h1
  = t(:perevods)
  = link_to new_perevod_path, "data-ajax" => "false" do
    .ui-shadow.ui-btn.ui-corner-all.ui-btn-inline.ui-icon-plus.ui-btn-icon-notext.ui-btn-b{"data-theme" => "b", "data-ajax"=>"false", :style=>"float:right;"}
      = t(:new)

.docs-main
  %table#tabl_perevod.tablesaw{"data-minimap" => "", "data-mode" => "swipe", "data-mode-switch" => "", "data-sortable" => "", "data-sortable-switch" => ""}
    %thead
      %tr


        %th{"data-priority" => "1", "data-sortable-col" => ""}= t(:schet_from)

        %th{"data-priority" => "2", "data-sortable-col" => ""}= t(:schet_to)

        %th{"data-priority" => "3", "data-sortable-col" => ""}= t(:rab)

        %th{"data-priority" => "4", "data-sortable-col" => ""}= t(:todate)

        %th{"data-priority" => "5", "data-sortable-col" => ""}= t(:cash)

        %th{"data-priority" => "6", "data-sortable-col" => ""}= t(:comment)
        %th{"data-priority" => "", "data-sortable-col" => ""}
    %tbody
      - @perevods.each do |perevod|
        %tr

          %td
            = perevod.schet_from

          %td
            = perevod.schet_to


          %td
            - if perevod.rab_id
              = perevod.rab.name
          
          %td
            = perevod.todate

          %td
            = perevod.cash

          %td
            = perevod.comment

          %td
            = link_to 'Изменить', edit_perevod_path(perevod), :class => "ui-btn ui-btn-icon-left ui-icon-edit", "data-ajax" => false
            = link_to 'Удалить', perevod, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "ui-btn ui-btn-icon-left ui-icon-delete", "data-ajax" => false




