%h1
  = t(:rabs)
  = link_to new_rab_path, "data-ajax" => "false" do
    .ui-shadow.ui-btn.ui-corner-all.ui-btn-inline.ui-icon-plus.ui-btn-icon-notext.ui-btn-b{"data-theme" => "b", "data-ajax"=>"false", :style=>"float:right;"}
      = t(:new)

.docs-main
  %table#tabl_rab.tablesaw{"data-minimap" => "", "data-mode" => "swipe", "data-mode-switch" => "", "data-sortable" => "", "data-sortable-switch" => ""}
    %thead
      %tr
        %th{"data-priority" => "1", "data-sortable-col" => ""}= t(:first_name)
        %th{"data-priority" => "2", "data-sortable-col" => ""}= t(:last_name)
        %th{"data-priority" => "3", "data-sortable-col" => ""}= t(:tel)
        %th{"data-priority" => "3", "data-sortable-col" => ""} Должность
        %th{"data-priority" => "", "data-sortable-col" => ""}
    %tbody
      - @rabs.each do |rab|
        %tr
          %td
            = link_to rab do
              = rab.first_name
          %td
            = link_to rab do
              = rab.last_name
          %td
            = rab.tel
          %td
             = rab.doljn
          %td
            = link_to 'Изменить', edit_rab_path(rab), :class => "ui-btn ui-btn-icon-left ui-icon-edit", "data-ajax" => false
            = link_to 'Удалить', rab, :method => :delete, :data => { :confirm => 'Уверены?' }, :class => "ui-btn ui-btn-icon-left ui-icon-delete", "data-ajax" => false




