.ui-content{:align => "center"}
  %fieldset{"data-role" => "controlgroup", "data-type" => "horizontal"}
    %input#radio-choice-h-2a{:checked => "checked", :name => "radio-choice-h-2", :type => "radio", :value => "on"}/
    %label{:for => "radio-choice-h-2a"} Доход
    %input#radio-choice-h-2b{:name => "radio-choice-h-2", :type => "radio", :value => "off"}/
    %label{:for => "radio-choice-h-2b"} Расход
    %input#radio-choice-h-2c{:name => "radio-choice-h-2", :type => "radio", :value => "other"}/
    %label{:for => "radio-choice-h-2c"} Перевод
= form_for @dohod do |f|
  #div-dohod
    - if current_login.has_role? :admin or current_login.has_role? :root
      .ui-field-contain
        %label{:for => "select-native-1"} Счет:
        = collection_select(:dohod, :schet_id, Schet.where(panel: true).all, :id, :name, prompt: true)
    - else
      .ui-field-contain{:style => "display:none;"}
        = f.text_field :schet_id, :value => Schet.where(login_id: current_login.id).last.id
    .ui-field-contain
      %label{:for => "select-native-1"} Категория:
      = collection_select(:dohod, :cat_dohod_id, CatDohod.all, :id, :name, prompt: true)
    .ui-field-contain
      %label{:for => "select-native-1"} Оператор:
      = collection_select(:dohod, :rab_id, Rab.all, :id, :name, prompt: true)
    .ui-field-contain
      = f.text_field :cash, :placeholder => "Сумма"
    .ui-field-contain
      = f.text_field :comment, :placeholder => "Заметка"
    %div{ :class=>"todate"}
      .field
        = f.label t(:todate)
        = f.date_select :todate

    .ui-field-contain
      = f.submit t('.save', :default => t("helpers.links.save")), :class => "btn btn-primary"
      %a.ui-btn.ui-shadow.ui-corner-all.ui-btn-a{"data-rel" => "back", :href => "/fin/"} Отмена

= form_for @rashod do |f|
  #div-rashod{:style => "display:none;"}
    - if current_login.has_role? :admin or current_login.has_role? :root
      .ui-field-contain
        %label{:for => "select-native-1"} Счет:
        = collection_select(:rashod, :schet_id, Schet.where(panel: true).all, :id, :name, prompt: true)
        -# collection_select(:dohod, :schet_id, Schet.all, :id, :name, prompt: true)
    - else
      .ui-field-contain{:style => "display:none;"}
        = f.text_field :schet_id, :value => Schet.where(login_id: current_login.id).last.id

    .ui-field-contain
      %label{:for => "select-native-1"} Категория:
      = collection_select(:rashod, :cat_rashod_id, CatRashod.all, :id, :name, prompt: true)
    .ui-field-contain
      = f.text_field :cash, :placeholder => "Сумма"
    .ui-field-contain
      = f.text_field :comment, :placeholder => "Заметка"
    %div{ :class=>"todate"}
      .field
        = f.label t(:todate)
        = f.date_select :todate

    .ui-field-contain
      = f.submit t('.save', :default => t("helpers.links.save")), :class => "btn btn-primary"
      %a.ui-btn.ui-shadow.ui-corner-all.ui-btn-a{"data-rel" => "back", :href => "/fin/"} Отмена

= form_for @perevod do |f|
  #div-perevod{:style => "display:none;"}
    .ui-field-contain
      %label{:for => "select-native-6"} Откуда:
      = collection_select(:perevod, :schet_from, Schet.where(panel: true).all, :id, :name, prompt: true)
    .ui-field-contain
      %label{:for => "select-native-7"} Куда:
      = collection_select(:perevod, :schet_to, Schet.where(panel: true).all, :id, :name, prompt: true)
    .ui-field-contain
      = f.text_field :cash, :placeholder => "Сумма"
      / %input#cash{:name => "cash", :placeholder => "", :type => "text", :value => ""}/
    .ui-field-contain
      / %label{:for => "commentp"} Заметка:
      = f.text_field :comment, :placeholder => "Заметка"
      / %textarea#commentp{:cols => "20", :name => "commentp", :rows => "4"}
    %div{ :class=>"todate"}
      .field
        = f.label t(:todate)
        = f.date_select :todate

    .ui-field-contain
      = f.submit t('.save', :default => t("helpers.links.save")), :class => "btn btn-primary"
      %a.ui-btn.ui-shadow.ui-corner-all.ui-btn-a{"data-rel" => "back", :href => "/fin/"} Отмена

  / %a.ui-btn.ui-shadow.ui-corner-all.ui-btn-a{"data-rel" => "back", :href => "/fin/"} OK
  / %a.ui-btn.ui-shadow.ui-corner-all.ui-btn-a{"data-rel" => "back", :href => "/fin/"} Отмена
  :javascript
    $('#radio-choice-h-2a').click(function(){
                $('#div-rashod').hide();
                $('#div-perevod').hide();
                $('#div-dohod').show();
            });

            $('#radio-choice-h-2b').click(function(){
                $('#div-perevod').hide();
                $('#div-dohod').hide();
                $('#div-rashod').show();
            });

            $('#radio-choice-h-2c').click(function(){
                $('#div-rashod').hide();
                $('#div-dohod').hide();
                $('#div-perevod').show();
            });



