%p#notice= notice

%p
  %b Name:
  = @schet.name
%p
  %b Login:
  = @schet.login
%p
  %b Panel:
  = @schet.panel
%p
  %b Balance:
  = @schet.balance
%p
  %b Cash:
  = @schet.cash

= link_to 'Edit', edit_schet_path(@schet)
\|
= link_to 'Back', schets_path
