= form_for @smena, "data-ajax" => false do |f|
  - if @smena.errors.any?
    #error_explanation
      %h2= "#{pluralize(@smena.errors.count, "error")} prohibited this rab from being saved:"
      %ul
        - @smena.errors.full_messages.each do |msg|
          %li= msg
  %div
    .field
      = f.label "Смена октрыта"
      = f.check_box :open, "data-role"=>"flipswitch"

    .field{ :class=>"todate" }
      = f.date_select :todate

    .field
      / = f.label t(:schet)
      -#= collection_select(:smena, :schet_id, Schet.all, :id, :name, { prompt: "Счёт..."} , { :required=>"" })

      - if current_login.has_role? :admin or current_login.has_role? :root
        .ui-field-contain
          = collection_select :smena, :schet_id, Schet.where(panel: true).all, :id, :name, { prompt: "Счёт..." }, { "data-mini"=>true, "data-theme" => "d", :required=>"" }
          -#, { prompt: "Счёт" }, { :class => "required" }, {:required => true}) #prompt: true) #, :class => "dohod_select"{:selected => "Доход"} )
          -#= select_tag :dohod, options_from_
          -#= select_tag :schet_id, options_for_select( Schet.where(panel: true).all) #, { prompt: "Счёт" }, { :class => "required" }, {:required => true}) #prompt: true) #, :class => "dohod_select"{:selected => "Доход"} )
      - else
        .ui-field-contain{:style => "display:none;"}
          -#= collection_select :dohod, :schet_id, Schet.where(panel: true).all, :id, :name, { prompt: "Счёт..." }, { "data-mini"=>true, "data-theme" => "d", :required=>"" }
          = text_field :smena, :schet_id, :value => Schet.where(login_id: current_login.id).last.id


      -#= text_field :smena, :schet_id, :value => Schet.where(login_id: current_login.id).last.id
  %div
    .field
      Сотрудники:



      - 'TABB'
  %div
    .field
      = f.submit t('.save', :default => t("helpers.links.save")), :class => "btn btn-primary", "data-mini"=>true, "data-ajax" => false, "data-theme" => "g"

