- show=false
= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_field :name, :placeholder => t(:name)
  .actions
    - if not show
      = f.submit t('.save', :default => t("helpers.links.save")), "data-iconpos" => "right", "data-icon" => "check", :class=>"ui-btn ui-icon-check ui-shadow ui-corner-all ui-btn-icon-right ui-btn-inline", :readonly=>"#{show}"

