%h1 Listing cat_rashods

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @cat_rashods.each do |cat_rashod|
    %tr
      %td= cat_rashod.name
      %td= link_to 'Show', cat_rashod
      %td= link_to 'Edit', edit_cat_rashod_path(cat_rashod)
      %td= link_to 'Destroy', cat_rashod, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cat rashod', new_cat_rashod_path
