= form_for @rashod do |f|
  - if @rashod.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rashod.errors.count, "error")} prohibited this rashod from being saved:"
      %ul
        - @rashod.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :schet
    = f.text_field :schet
  .field
    = f.label :cat_rashod
    = f.text_field :cat_rashod
  .field
    = f.label :comment
    = f.text_area :comment
  .field
    = f.label :rab
    = f.text_field :rab
  .field
    = f.label :todate
    = f.date_select :todate
  .field
    = f.label :cash
    = f.text_field :cash
  .actions
    = f.submit 'Save'
