%h1 Listing rashods

%table
  %tr
    %th Schet
    %th Cat rashod
    %th Comment
    %th Rab
    %th Todate
    %th Cash
    %th
    %th
    %th

  - @rashods.each do |rashod|
    %tr
      %td= rashod.schet
      %td= rashod.cat_rashod
      %td= rashod.comment
      %td= rashod.rab
      %td= rashod.todate
      %td= rashod.cash
      %td= link_to 'Show', rashod
      %td= link_to 'Edit', edit_rashod_path(rashod)
      %td= link_to 'Destroy', rashod, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rashod', new_rashod_path
