!!! 5
%html
  %head
    %title Авторизация
    %meta{:content => "target-densitydpi=device-dpi, height=device-height,width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .jqm-demos.jqm-home{"data-role" => "content", :style=> "margin:3px;", "data-theme" => "a"}
      %p#notice.notice= notice
      %p#alert.alert= alert
      = yield
      .jqm-footer{"data-position" => "fixed", "data-role" => "footer", "data-tap-toggle" => "false"}
        %p
          Copyright 2014
